AppKey=
AppSecret=
DropBoxFolder=C:\Users\Reza\Dropbox\Playlists
WordPressUsername=cjswtest1
WordPressPassword=cjswtest11
WordPressURL=http://cjswtests.wordpress.com/xmlrpc.php
OutputAsIs=true
LineFormat=null
TrackPattern=null
ArtistPattern=null
AlbumPattern=null
LabelPattern=null
ExtraPattern=null
